html {
    overflow-y: scroll;
}

::-webkit-file-upload-button {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
    outline: none;
}

::-webkit-file-upload-button:hover {
    cursor: pointer;
}

.main-panel-div {
    margin-top: 70px;
    text-align: center;
}

#uploaded-files-div {
    margin-top: 30px;
    text-align: left;
}

.upload-form-div {
    text-align: center;
}

.form-inline {
    margin-left: 25% !important;
    margin-right: 20% !important;
}

.username-input {
    width: 500px !important;
    margin-right: 50px;
}

.files-div {
    margin-left: 20%;
    margin-right: 20%;
}

.uploaded-file-div {
    border: 1px black solid;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
}

.uploaded-file-div:hover {
    background-color: #f7f7f7;
}

.file-hash-p {
    margin-bottom: 0;
}

.navbar-brand {
    cursor: pointer !important;
}

.file-name-div {
    display: flex;
    justify-content: space-between;
}

.see-details-button {
    height: 30px !important;
    padding: 0 10px !important;
}

.info-page-main-div {
    margin-left: 10%;
    margin-top: 100px;
    margin-right: 10%;
}

.ipfs-image {
    width: 700px;
    margin-bottom: 40px;
}

#ipfs-textarea {
    width: 50%;
    height: 200px;
    resize: none;
}

.home-nav-link {
    margin-left: 30px;
}

.modal {
    padding-right: 0 !important;
}

.modal-open {
    padding-right: 0 !important;
}

.modal-dialog {
    width: 900px !important;
    max-width: 900px !important;
}

.tx-hash-button {
    color: #007bff;
}

.tx-hash-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.ipfs-marking {
    margin-left: 15px;
    font-size: 30px;
}

.ipfs-check {
    color: #08f500 !important;
}

.ipfs-cross {
    color: red !important;
}

.p-ipfs-check {
    display: flex;
    justify-content: space-between;
}

.opacity-1 {
    opacity: 1 !important;
}

.invalid-text-area {
    border: 2px solid red;
    color: red;
    font-weight: bold;
}

.image-corrupted {
    color: red;
    font-weight: bold;
}

.image-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.validity-loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}